/*======== Extra large device =========*/
@media (min-width: 1255px) {
    .navbar-container {
        max-width: 1240px;
    }
}

/*======== large device =========*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*======== medium device =========*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/*======== small device =========*/

@media (min-width: 576px) and (max-width: 767.98px) {}

/*======== Extra small device =========*/

@media (max-width: 575.98px) {
    .large-device-logo {
        display: none;
    }

    .navbar {
        display: none;
    }

    .responsive-navbar {
        display: block;
    }

    .top-border {
        height: 8px;
        background-color: #000;
        display: none;
    }

    #banner-part {
        height: 700px;
    }

    video {
        height: 700px;
    }

    #banner-part h2 {
        text-align: center;
        font-size: 70px;
        padding: 250px 0px;
    }

    #banner-part .overlay {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000c;
        position: absolute;
    }

}